@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.navbar {
  background: rgba(0,0,0,0.6);
}
.navbar-brand img{
  height: 2rem;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.caption{
  position: absolute;
  top: 38%;
  width: 100%;
  color: #ffff;
}

.caption h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 1.1rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: .6rem 1.2rem;
}



/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

@media (max-width:768px){
  .caption h1 {
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg{
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .col-md-8 h1 {
    font-size: 1.7rem;
  }
}


